header {
    border: 3px solid black; /*thickness and colour of border*/
    font-size: 20px; /* font-size of the text in the box */
    text-align: center; /* places text in the midddle of border*/
    margin: 15px auto; /* places .header 15 px from the top and in the middle of screen*/
    height: 150px; /* height of the box */
    width: 80%; /* makes the box 80% of the screens width*/
}

.underscores{
    border: 3px solid black; /*thickness and colour of border*/
    font-size: 100px; /*font-size of the text in the box */
    text-align: center; /* places text in the midddle of border*/
    margin: 15px auto; /*  places .undercores 15 px from .header and places .underscores in the middle of screen*/
    height: 150px; /* height of the box*/
    width: 80%; /* makes the box 80% of the screens width*/

}
.rightGuess{
    border: 3px solid black; /*thickness and colour of border*/
    font-size: 20px; /*font-size of the text in the box */
    text-align: center; /* places text in the midddle of border*/
    margin: 15px auto; /* places .rightGuess 15 px from .underscores and .rightGuess in the middle of screen*/
    height: 150px; /* height of the box*/
    width: 80%; /* makes the box 80% of the screens width*/

}
.wrongGuess{
    border: 3px solid black; /*thickness and colour of border*/
    font-size: 20px; /*font-size of the text in the box */
    text-align: center; /* places text in the midddle of border*/
    margin: 0 auto; /* places .wrongGuess 15px from .rightguess and .wrongGuess in the middle of screen*/
    height: 150px; /* height of the box*/
    width: 80%; /* makes the box 80% of the screens width*/

}